.highlight {
    background-color: #ddd;
}

button.btn {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-weight: normal;
  line-height: 1.15;
  text-align: center;
  vertical-align: middle;
}

.btn {
  height: 50px;
  width: 180px;
  border: 1px solid black;
  border-radius: 5px;
  background: white;
  font-size: 1.2em;
  text-decoration: none;
  color: blue;
}

.btn--primary {
  background: blue;
  color: white;
}

.btn--secondary {
  background: #efefef;
  color: #555;
}

.btn--large {
  width: 250px;
  height: 60px;
}

.btn--extra-large {
  width: 350px;
  height: 70px;
}